/* -----------------------------------------
// 共通
// ---------------------------------------*/

//セレクトボックス初期化・カスタマイズ
select{
  appearance: none;
  position: relative;
  &-ms-expand {
    display: none;
  }
}
// ie11のinputに出る×印を消す
input[type=text]::-ms-clear {
  display: none;
}
input[type=password]::-ms-reveal {
  display: none;
}
// iOSでinputが角丸になるのを防止
input[type="button"], input[type="text"], input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}
//chromeのオートコンプリートを消す
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $c-gray_light inset;
}


/* -----------------------------------------
//  コンタクトフォーム7
// ---------------------------------------*/

/* .form_tbl：dlでレイアウトする場合 */
.form_layout_wrap{
  font-size: 1.5rem;
  text-align: left;
  dt{
    padding-bottom: 5px;
    label{
      display: inline;
    }
  }
  dd{
    padding-bottom: 15px;
  }
}
@media (min-width: $break){
  .form_layout_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    dt{
      width: 22%;
      padding-bottom: 35px;
    }
    dd{
      width: 78%;
      padding-bottom: 35px;
    }
  }
}

/* 必須・任意 */
.req,
.any{
  &::after{
    display: inline-block;
    content: "";
    margin-right: 5px;
    font-size: 1.3rem;
  }
}
.req::after{
  content: "＊";
  color: $c-key;
}
@media (min-width: $break){
  .any{
    &::after{
      content: "　";
    }
  }
}

/* inputなどを囲む */
.wpcf7-form-control-wrap{
  position: relative;
  //input設定
  .wpcf7-form-control{
    display: inline-block;
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    border-radius: 2px;
    //必須の場合に付与されるクラス
    &.wpcf7-validates-as-required{
    }
    //チェックボックス、ラジオボタンの場合に付与されるクラス
    &.wpcf7-checkbox, &.wpcf7-radio{
      padding: 0 5px;
      //ラベルで包括された項目名
      .wpcf7-list-item{
        display: block;
        margin: 10px 0 14px;
        padding: 6px 10px 6px 16px;
        border: 1px solid $c-gray_light;
        border-radius: 4px;
        label{
          input{
            width: auto;
            margin: 0 10px 0 0;
          }
          .wpcf7-list-item-label{
            display: inline-block;
          }
        }
      }
    }
    //セレクトボックス
    &.wpcf7-select{
    }
  }
}
@media (min-width: $break){
  .wpcf7-form-control-wrap{
    //input設定
    .wpcf7-form-control{
      //セレクトボックス
      &.wpcf7-select{
        width: 50%;
      }
    }
  }
}

//セレクトボックスに下矢印をつけるカスタマイズ
dd.selectbox_bloc .wpcf7-form-control-wrap{
  background-color: $c-gray_light;
  position: relative;
  &::after{
    font-family: $ff-icon;
    font-size: 1.6rem;
    font-weight: bold;
    width: 10px;height: 10px;
    color: $c-black;
    content: "\f078";
    position: absolute;
    right: 18px;
    bottom: 10px;
    pointer-events: none;
  }
}
@media (min-width: $break){
  dd.selectbox_bloc .wpcf7-form-control-wrap{
    &::after{
      right: 20px;
      bottom: 11px;
    }
  }
}

/* ボタン類 */
.form_btn{
  text-align: center;
  position: relative;
}
input.wpcf7c-btn-confirm,
input.wpcf7c-btn-back,
input.wpcf7-submit{
  display: inline-block;
  width: auto;
  min-width: 120px;
  padding: 14px 20px;
  margin: 0 10px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4em;
  letter-spacing: 0.1em;
  border: none;
  position: relative;
  background-color: $c-main;
  border-radius: 3px;
  color: $c-gray_light;
  &:focus{
    outline: none;
    background-color: $c-main !important;
    border-color: $c-main !important;
  }
}
@media (min-width: $break){
  .form_btn{
  }
  input.wpcf7c-btn-confirm,
  input.wpcf7c-btn-back,
  input.wpcf7-submit{
    padding: 15px 50px;
    &:hover{
      opacity: 0.7;
    }
  }
}


/* AJAX LOADER */
.ajax-loader{
  display: block !important;
  text-align: center !important;
  margin: 15px auto 0 !important;
  background-image: url('./img/form/ajax-loader.gif') !important;
  background-size: cover !important;
  width: 40px !important;
  height: 5px !important;
  // 以下、デフォルト
  // visibility: hidden;
	// display: inline-block;
	// background-image: url('../../images/ajax-loader.gif');
	// width: 16px;
	// height: 16px;
	// border: none;
	// padding: 0;
	// margin: 0 0 0 4px;
	// vertical-align: middle;
}

/* エラーメッセージ等 */
//エラー等のメッセージ表示
.screen-reader-response{
}
.wpcf7-response-output{
  font-size: 1.5rem !important;
  text-align: left;
  border: none !important;
  padding: 0 !important;
  margin: 0 0 40px !important;
  &.wpcf7-validation-errors{
    color: $c-attention !important;
  }
}
.wpcf7-not-valid-tip{
  margin-top: 5px;
  color: $c-attention !important;
}
@media (min-width: $break){
  .screen-reader-response{}
  .wpcf7-response-output{
    text-align: center;
  }
  .wpcf7-not-valid-tip{
    font-size: 85% !important;
  }
}


//エラー時
.invalid{}
//内容確認時
.failed{
  .step_wrap{
    margin-top: 100px !important;
  }
}
//送信完了後
.sent{
  .form_inner{
    display: none;
  }
}
//送信成功
.wpcf7-mail-sent-ok{
  text-align: center;
}
@media (max-width: $break + "px"){
  //内容確認時
  .failed{
    .step_wrap{
      margin-top: 60px !important;
    }
  }
}