// ----------------------------------------------------------------
// * Mixins
// ----------------------------------------------------------------

//clearfix
@mixin clearfix{
  &:before,
  &:after{
    display: table;
    content: ' ';
  }
  &:after{
    clear: both;
  }
  *zoom: 1;
}

//circle（円形）
@mixin circle{
  @include border-radius(100%);
}

//縦方向の中央配置
@mixin vertical_align_middle{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

//縦横 中央配置
@mixin center_center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

//hover 設定
@mixin linkColor($color){
  color: $color;
  &:hover,
  &:active,
  &:focus{
    color: lighten($color, 20%);
  }
}